<!-- <div class="row">
    <div class="col-md-12" *ngFor="let user of userArr ; trackBy : trackByFun">
        <app-user [userObj]="user"></app-user>

    </div>

</div> -->


<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let user of userArr; trackBy: trackByFun">
      <app-user [userObj]="user"></app-user>
    </ng-container>
  </tbody>
</table>