<div class="card h-100 shadow">
    <div class="card-header f-bold"><h4>Title:{{movieObj.title}}</h4></div>
    <div class="card-body">

        <p><strong>RELEASE IN:</strong>{{movieObj.releaseYear}}</p>
         <p><strong>LANGUAGE:</strong>{{movieObj.language}}</p>
          <p><strong>CATEGORY</strong>{{movieObj.genre}}</p>
           <p><strong>RATING:</strong>{{movieObj.rating}}</p>

    </div>
    <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-sm btn-outline-primary">View</button>
        <button class="btn btn-sm btn-outline-danger">Delete</button>
    </div>
</div>