<div class="container mt-5">
  <input type="text" appLowerCase class="form-control">
  <p  basicCss>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iste
    officia, aspernatur dolorum fuga veniam! Magnam labore, autem quae
    cupiditate necessitatibus consequatur amet unde, atque blanditiis
    reprehenderit similique omnis cumque.
  </p>
    <p  advancecss>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore iste
    officia, aspernatur dolorum fuga veniam! Magnam labore, autem quae
    cupiditate necessitatibus consequatur amet unde, atque blanditiis
    reprehenderit similique omnis cumque.
  </p>
    
</div>
