<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>email</th>
      <th>Contact</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ userObj.fname }} {{ userObj.lname }}</td>
      <td>{{ userObj.address }}</td>
      <td>{{ userObj.email }}</td>
      <td>{{ userObj.contact }}</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </tbody>
</table> -->


<tr>
  <td>{{ userObj.fname }} {{ userObj.lname }}</td>
  <td>{{ userObj.address }}</td>
  <td>{{ userObj.email }}</td>
  <td>{{ userObj.contact }}</td>
  <td>Edit</td>
  <td>Delete</td>
</tr>



